{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh" id="count-stats">
   <div class="container">
      <div class="row">
         <div class="col-lg-9 z-index-2 border-radius-xl mt-n8 mx-auto py-3 shadow-blur blur">
            <div class="row">
               <div class="col-md-4 position-relative">
                  <div class="p-3 text-center">
                     <h1 class="text-gradient text-primary"><span id="state1" countto="300">300</span>+</h1>
                     <h5 class="mt-3">Coded Elements</h5>
                  </div>
                  <hr class="vertical dark my-0">
               </div>
            <div class="col-md-4 position-relative">
         <div class="p-3 text-center">
         <h1 class="text-gradient text-primary"> <span id="state2" countto="100">100</span>+</h1>
         <h5 class="mt-3">Design Blocks</h5>
      </div>
      <hr class="vertical dark my-0">
   </div>
   <div class="col-md-4">
      <div class="p-3 text-center">
         <h1 class="text-gradient text-primary" id="state3" countto="39">39</h1>
         <h5 class="mt-3">Pages</h5>
      </div>
      <hr class="vertical dark my-0">
   </div>
</section>

<section>Asosiy malumotlar </section>

<section>Metal mahsulotlari</section>

<section>Ishlash tartibi</section>

<section>Hamkorlar</section>
{% endblock %}
