/* aziz product */
   .headera {
      content: "";
      background-color: rgb(20, 20, 139);
      padding: 10px;
      margin-top: 10px;
    }

   h2{
    font-family: "Noto-Sans";
    color: #f1f1f1;
    display: flex;
    text-align: center;
   }

   p{
    height:  50px;
    margin-left: 165px;
   }

   #main-content {
      padding: 100px;
      margin-left: 100px;
   }
   img {
    position: absolute;
    left: 50px;
    top: 185px;
    z-index: -1;
}
    .p1a:hover{
      width: 149px;height: 50px;
      transition: 0.5s;
      background: rgb(20, 20, 165);
    }
    .p2a:hover{
      width: 160px;height: 50px;
      transition: 0.5s;
      background: rgb(20, 20, 165);
    }
    .p3a:hover{
      width: 190px;height: 50px;
      transition: 0.5s;
      background: rgb(20, 20, 165);
    }
    .p4a:hover{
      width: 140px;height: 50px;
      transition: 0.5s;
      background: rgb(20, 20, 165);
    }


/*  products table */

.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}


