     {% load static %}
      <!-- header -->
         <!-- header inner -->
<nav>
         <div class="header">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="/"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-10 col-sm-9">
                     <ul class="site_menu text_align_right">
                        <li >
                           <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_icon.png' %}"></button>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
</nav>
         <!-- end header inner -->